
<div class="login-menu d-flex align-items-center gap-2">
    <input @bind="@Username" placeholder="login" class="form-control form-control-sm" />
    <input @bind="@Password" placeholder="password" class="form-control form-control-sm" />
    <button @onclick="@Login" class="btn btn-primary btn-sm" >Login</button>
</div>

@code {
    private string Username = string.Empty;
    private string Password = string.Empty;

    private async Task Login()
    {
        
    }

}
