<AuthorizeView>
    <Authorized Context="auth">
        @foreach (var claim in auth.User.FindAll(ClaimType))
        {
            <span class="badge badge-@ClaimType.ToLower() ms-1">@claim.Value</span>
        }
    </Authorized>
</AuthorizeView>


@code {
    [Parameter]
    public string ClaimType { get; set; } = "role";
}