@page "/customers"
@using Domain.Abstractions
@using Domain.Models
@inject ICustomerRepository Repository

<h3>Customer List</h3>

<p>@message</p>

@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var customer in customers)
        {
            <li>@customer.Id @customer.Name @customer.Email</li>
        }
    </ul>
}

@code {

    private string message = $"Lorem ipsum {DateTime.Now}";

    private IEnumerable<Customer>? customers;

    protected override async Task OnInitializedAsync()
    {
        customers = await Repository.GetAllAsync();
    }
}