@page "/customers"

<h3>Customer List</h3>

<p>@message</p>

<CascadingValue Value="@title">

    <LoaderComponent Items="@customers">
        <CustomersTable Customers="@customers" />
    </LoaderComponent>

</CascadingValue>

@code {
    private string title = "Loading Customers...";
}