@page "/customers"
@using Domain.Abstractions
@using Domain.Models
@using BlazorWebAssemblyApp.Shared

<h3>Customer List</h3>

<p>@message</p>

@if (customers == null)
{
   <TitleComponent />
}
else
{
    <ul>
        @foreach (var customer in customers)
        {
            <li>@customer.Id @customer.Name @customer.Email</li>
        }
    </ul>
}
