@page "/customers"
@using BlazorWebAssemblyApp.Models

<h3>Customer List</h3>


<p>@message</p>

<ThemeCascadingValue>

    <CascadingValue Value="@info">
        <LoaderComponent Items="@customers">
            <CustomersTable Customers="@customers" />
        </LoaderComponent>
    </CascadingValue>

</ThemeCascadingValue>


@code {
    private string title = "Loading Customers...";

    private int customerCount = 100;

    private string description = "Lorem ipsum";

    private Info info => new Info { Title = title, Description = description, Count = customerCount };

 
}