@using Domain.Models

<TableTemplate Items="@Customers" Context="customer">
    <HeaderTemplate>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
    </HeaderTemplate>

    <RowTemplate> 
        <td>@customer.Id</td>
        <td>@customer.Name</td>
        <td>@customer.Email</td>
        <td>
            <a class="btn btn-primary" href="/customers/view/@customer.Id">View</a>

            <AuthorizeView Roles="admin">
                <a class="btn btn-secondary" href="/customers/edit/@customer.Id">Edit</a>
            </AuthorizeView>

            <AuthorizeView Policy="Print">
                <button class="btn btn-secondary">Print</button>
            </AuthorizeView>
            
        </td>
    </RowTemplate>
</TableTemplate>

@code {

    [Parameter, EditorRequired]
    public required IEnumerable<Customer>  Customers { get; set; }
}
