
<p><em>@Title</em></p>

<p>@Description</p>

<p>@Count</p>

@code {
    [CascadingParameter(Name = "a")]
    public string Title { get; set; } = "Loading...";

    [CascadingParameter(Name = "b")]
    public string Description { get; set; }

    [CascadingParameter]
    public int Count { get; set; }

}

